@import './Achieved/achievedStyles.scss';

$primary: #19647e;
$secondary: #f4d35e;
$white: #ffffff;
$font: #19647e;
$links: #28AFB0;

.simulations{
  input,
  select {
    border: none;
    text-align: right;
    color: blue;
    font-size: 16px;
  }
}
body {
  color: $primary;
}
.main-title:hover {
  cursor: pointer;
}

a {
  color: $links;
  text-decoration: none;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.bordered-table {
  border: 1px solid black;
  border-collapse: collapse;

  th,
  td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.2em 0.5em;
  }

  thead tr {
    border-bottom: 1px solid black;
  }
}

button, .button {
  background-color: $primary;
  color: $white;
  font-size: 1em;
  font-family: inherit;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 0.5em 1em;

  &.small {
    height: 2em;
    padding: 0.5em 1em;
    font-weight: initial;
  }

  &:hover {
    cursor: pointer;
    color: $secondary;
    font-weight: bold;
  }
}


  a {
    &:hover {
      font-weight: bold;
    }
  }

  .clickable {
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }

    &.active {
      font-weight: bold;
      background-color: $links;
      color: $white;
    }
  }